body {
    header {
        background: url("https://i.ibb.co/HVd0h1p/bg-about.png");
        background-size: cover;
        background-position-y: -22em;
        height: 26em;

        .content_slide{
            .slide__subtitle{
                p{
                    font-weight: 700;

                    a{
                        text-decoration: none;
                        color: white;
                        font-weight: 400;
                    }
                }
            }
        }
    }

    .main-content{
        padding: 4em 0;

        h2{
            font-weight: 700;
        }

        .h2-title{
            margin-top: 3em;
        }

        p{
            font-size: 20px;
            text-align: justify;

            img{
                margin: 2em 0;
                height: 21em;
            }
        }

        .row{
            .col{
                img{
                    height: 26em;
                    position: relative;
                    top: 6em;
                }
            }
        }
    }
}